{% extends "base.html" %}
{% block content %}
    <div class='error'>{{error_msg if error_mag != None}}</div>
    
    <form action='' method='post' >

        <div>
        <label>Username</label>
        <input type='text' name='user' value='{{user if user  != None}}' required>
        </div>
        
        <div> 
        <label>Password</label>
        <input type='password' name='psw' value='{{psw if psw  != None}}' required>
        </div>

        <div><input type="submit" value="Sign up" ></div>
    </form>
{% endblock %}